@import url('../sass/reset.scss');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('../sass/sidebar.scss');

$CoolGray: hsl(231, 11%, 63%);
$LightGray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$MarineBlue: hsl(213, 96%, 18%);
$PurplishBlue: hsl(243, 100%, 62%);
$PastelBlue: hsl(228, 100%, 84%);
$LightBlue: hsl(206, 94%, 87%);
$StrawberryRed: hsl(354, 84%, 57%);

#root {
  background-color: $Magnolia;
  color: $MarineBlue;
  font-family: "Ubuntu";
  font-weight: 400;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.greyed {
  color: $CoolGray;
}

.form-step-container{
  height: 300px;
}

#form-card-body{
  width: 975px;
  display: flex;
  justify-content: space-between;
}

#form-container{
  text-align: left;
  color: $MarineBlue;
  margin: 2rem;
}

#form-subtitle{
  color: $CoolGray;
  margin: 0.75rem 0;
}

#form-buttons{
  display: flex;
  justify-content: space-between;
  > * {
    padding: 1.5rem 1rem;
    position: relative;
    top: 2.5rem;
    width: 25%;
  }

  #next-step-button{
    background-color: $MarineBlue !important;
    color: white !important;
    font-weight: 400 !important;
  }
  
  #go-back-button{
  
  }
}

.plan-select{
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  margin: 2rem 0;
  background-color: $Alabaster;

  > label{
    margin: 0;
  }

  .chakra-switch{
    margin: 0 1.5rem;
  }

  .chakra-switch__track{
    // width: 40px;
    padding: 0.25rem;
    background-color: $MarineBlue;
  }
}

#plan-cards{
  display: flex;
  justify-content: space-between;
}

.plan-card{
  display: flex;
  flex-direction: column;
  height: 175px;
  width: 150px;
  justify-content: space-between;
}

.plan-card-body{
  padding: 1rem !important;
}

.plan-card-details{
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

.chakra-card{
  &.checked{
    border: 1px solid $PurplishBlue;
  }
}

#addon-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addon-option-card-body{
  display: flex;
  align-items: center;

  .chakra-checkbox__control{
    width: 20px;
    height: 20px;
    border: 1px solid $LightGray;
  }
  
  .addon-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 1rem 0 1.5rem;
  }

  .addon-cost{
    justify-self: flex-end;
    color: $PurplishBlue;
  }

  [data-checked]{
    > .chakra-checkbox__control {
      background-color: $PurplishBlue;
      border-color: $PurplishBlue;

      &:hover{
        background-color: hsl(243, 100%, 66%);
        border-color: hsl(243, 100%, 66%);
      }
    }
  }
}

#summary-card-body{
  background-color: $Alabaster;
}

.chakra-link{
  color: $PurplishBlue !important;

  &:hover{
    // color: hsl(243, 100%, 62%)
  }
}

.addon-summary-detail{
  margin: 1rem 0;
}

#summary-total-cost-container{
  padding: 0 1.25rem;
}

#summary-grand-total{
  color: $PurplishBlue;
  font-size: 1.5rem;
}

.summary-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}